section.dishes .dish {
    width: 100%;
    padding: 20px;
  }
  section.dishes .dish img {
    position: relative;
    max-width: 280px;
  }
  section.dishes .dish img + .price {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    background: #7fb401;
    position: absolute;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: #fff;
    right: 30%;
    top: 0;
  }
  section.dishes .dish img + .price span {
    font-size: 1.2em;
    font-weight: 700;
  }
  section.dishes .owl-theme .owl-nav [class*='owl-'] {
    color: #7fb401 !important;
    font-size: 2.5em;
  }
  section.dishes .owl-theme .owl-nav [class*='owl-'].disabled {
    color: #c0c0c0 !important;
  }



@media only screen and (min-width : 1824px) {
    /* Styles pour cette Media Queries */
    }
    figure.thumbnail.text-center {
        height: 100%;
        margin-bottom: 15px;
        padding-top: 15px;
}

btn-block {
     margin-top: 150px;
 }
}



@media (min-width: 768px){

 figure.thumbnail.text-center {
    height: 360px;
    margin-bottom: 15px;
}

}
/* Sega fin */
body
{
	background-color: #000;
}

h6, h4 {
    color: #604040;
    text-align: center;
}

h1
{
	font-family: 'Ubuntu', sans-serif;
	color: #FFF;
	background-color: #B5B5B5;
	font-size: 2em;
}

p
{
	font-family: 'Ubuntu', sans-serif;
	padding: 10px;
	font-size: 1em;
    color: #AAA;
}

@media (min-width: 768px)
{
    #ambiance_video
    {
        width: 90%;
        margin: auto;
    }
}

#ambiance_video p
{
    text-align: justify;
}

li
{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1em;
}

video
{
	padding: 0 auto;
}

.navHeader{
    height:70px;
    background-color: #604040;
}

.evenements_encart
{
	display: flex;
	padding: 5px 0 15px 0;
	font-size: 0.8em;
}

.evenements_encart img
{
    width: 150px;
}

.evenements_encart p
{
    margin: auto;
}

@media (min-width: 768px)
{
    .evenements_encart img
    {
        width: 400px;
    }
    .evenements_encart p
    {
        font-size: 2em;
    }
}

.image_slider
{
	height: 100px;
}

.logo
{
	width: 20px;
}

span {
	color : #FFF;
    font-size: 1.2em;
}

.menuFond{
    background-color: rgb(150, 11, 24);
    margin-top: -40px;
}

.titlePhoto{
    font-size: 1.7em;
    font-family: 'ubuntu';
    color: whitesmoke;
    background-color: rgba(96, 64, 64, 0.69);
}

.charLiMenu{
    font-family: 'ubuntu';
}

.noPaddingSlider{
    padding-left: 0;
    padding-right: 0;
}



/*flout image

figure {
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 0;
}

img, figcaption {
    transition: all .25s ease;
}
img {
    display: block;
}

figcaption {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: .5em;
    background: #000;
    background: rgba(0, 0, 0, .75);
    color: #fff;
    opacity: 0;
}
figure:hover img {
    transform: scale(1.1);
}
figure:hover figcaption {
    opacity: 0.7;
}
flout image*/

.logoMoony{
    margin: auto;
    display: block;
}

.carousel-haut{
    margin-top: 70px;
}

/*CSS Footer */
h6{
    font-size: 1.2em;
}

h5{
    font-size: 1.4em;
    color: white;
}
/*Border between block -- start footer script*/
.flexFooter{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.listFooter{
    list-style-type:none;
    font-family: 'Ubuntu', sans-serif;
    margin: auto;
    padding-left: 0;
}

.reseauxSociaux{
    display: flex;
    justify-content: space-around;
}

.footer{
    margin-top: 10px;

}

.centerBlockFooter{
    padding-left: 0px;
}
/*Border between block -- end footer script*/
.image{
    padding-left: 0;
}

.text_slider {
    background-color: #333;
}

.infoFooter{
    border-left:solid #400000;
}

.reseauxBorder{
    
    padding-top: 15px;
    
}

.blockTrip{
    display: flex;
    justify-content: center;
}

.colorReseaux{
    color: whitesmoke;
}
i:hover{
    color:#600000;

@media (min-width: 768px)
{
    .text-slider
    {
        font-size: 1.2em;
    }
}